.contactform {
    width: 1440px;
    height: 330px;
    background: linear-gradient(96.22deg, #FFA229 9%, #1C4670 59.37%);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.contactform-header1{
    font-size: 16px;
    color: white;
}
.contactform-header2{
    font-size: 26px;
    font-weight: 800;
    color: white;
}
.contactform-main-div{
    display: flex;
    width: 350px;
    height: 40px;
    background-color: white;
    justify-content: space-between;  
    border: none;
    border-radius: 5px;
}
.contactform-main-div-ptag{
    padding: 10px 20px;
   color: rgb(204, 205, 205);
}
.contactform-main-div-btn{
    padding: 5px 15px;
    background-color:#FFA229;
    border: none;
    border-radius: 5px;
}
.contactform-main-content{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

